body {
    background-color: rgb(50, 101, 241);
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

#inputSection {
    text-align: center;
    margin: 10px;
}

#records {
    background-color: whitesmoke;

}